h2{
	font-variant: small-caps;
	color:#fff;
	text-align:center;
}
div{
     color:black;
      
}
label{
	width:30%;
	margin-left:30%;
}
label[for]{
	width:20%;
	margin-left:0;
}
/*
input{
	background-color:white;
	color:black;
}
*/
#wmapper{
	max-width: 960px;
	margin: 0 auto;
	background-color:#8A2BE2;
	padding: 32px;
}

header {
	background-color: #8FBC8F ;
	height: 150px;
	padding: 4px;
}

header h1 {
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	line-height: 50px;
}
.main{
	padding: 5px 0 5px 0;
	text-align: center;
	line-height: 32px;
	background-color: #3a3f46;
}

ul.main{
	margin-top: 15px;
}

.main li {
	display: inline;
	padding: 0 10px 0 10px;
	font-size: 13px;
}
table{
	margin:10px auto auto auto;
}
.main a{
	text-decoration: none;
	color: #fff;
	padding: 8px;
	font-variant: small-caps;
}

.main a:hover{
	color:#59d5d8;
}



#myFooter {
    background-color: #3a3f46;
    color: white;
}

#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .info{
    text-align: justify; 
    color: #afb0b1;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter .logo{
    margin-top: 10px;
}

#myFooter .second-bar .logo a{
    color:white;
    font-size: 28px;
    float: left;
    font-weight: bold;
    line-height: 68px;
    margin: 0;
    padding: 0;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .second-bar {
    text-align: center;
    background-color: #33373e;
    text-align: center;
}

#myFooter .second-bar a {
    font-size: 22px;
    color: #9fa3a9;
    padding: 10px;
    transition: 0.2s;
    line-height: 68px;
}

#myFooter .second-bar a:hover {
    text-decoration: none;
}

#myFooter .social-icons {
    float:right;
}


#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }

    #myFooter .info{
        text-align: center;
    }
}



/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}
