h2{
	color: black;
	border: solid;
	border-bottom-width:50;
	border-radius: 20px;
        padding: 5px;
	text-align: center;
        margin-left: 30%;
        margin-right:30%;
       

	}
label{ width: 150px;}


.title{ bgcolor: blue;}


