/* Définition des polices personnalisées */

@font-face
{
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
         url('polices/ballpark.woff') format('woff'),
         url('polices/ballpark.ttf') format('truetype'),
         url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
         url('polices/dayrom.woff') format('woff'),
         url('polices/dayrom.ttf') format('truetype'),
         url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}



/* Header */

header
{
    background: url('images/separateur.png') repeat-x /*bottom; */
    display: flex;
    justify-content: space-between; 
    align-items: flex-end;
    weight: 100%;
}

#titre_principal
{
    display: flex;
    flex-direction: row;
margin-left: 30%;
}

/*#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 59px;
    height: 60px;
}
*/
header h1
{
    font-family: 'Dayrom', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
}

header h2
{
    font-family: 'Dayrom', serif;
    font-size: 1.1em;
    margin-top: 0px;
    font-weight: normal;
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: #760001;
    border-bottom: 3px solid #760001;
}

/* Bannière */

#banniere_image
{
    width: 100%;
    margin-top: 15px;
    height: 200px;
    border-radius: 20px;
    background: url('images/EnteteGalaxie.png') no-repeat;
    position: absolute;
    box-shadow: 0px 4px 4px #1c1a19; 
    magin: 0px;
}

#banniere_description
{
    position: absolute;
    bottom: 0;
    border-radius: 20px 20px 20px 20px;
    width: 100%; 
    padding-top: 20px;
    padding-left: 4px;
    background-color: rgba(24,24,24,0.8);
    color: white;
    /*font-size: 1em;  */
    
} 

.bouton_rouge
{
    height: 200px;
    position: relative;
    right: 5px; 
    background: url('images/fond_degraderouge.png') repeat-x;
    border: 1px solid #760001;
    border-radius: 5px;
    /*font-size: 2em; */
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
    margin-left: 40px;

}

.bouton_rouge img
{
    border: 0;
   margin-top: 15px;

    
}
